<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aco</title>
</head>
<body>
    <h1>2321231213? 2</h1>
    {% for mensaje in mensajes %}
        <h2>{{mensaje}}</h2>
    {% endfor %}


    <p>set FLASK_app.py
        set FLASK_DEBUG=1
        <br>
        flask --app example --debug run
        
    </p>
    <a href="/imagen"><button>Piter rosquilla</button></a>
    
</body>
</html>